<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix">
            <div class="pull-left">
                <div class="list-group-item-heading">Recipe Name</div>
                <p class="list-group-item-text">Description</p>
            </div>
            <span class="pull-right">
                <img src="" alt="" src="img-responsive" style="max-height: 50px;">
            </span>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>
